
div.darkblue-bg .nav li:hover a,div.darkblue-bg .nav li.active a{
   /* border-bottom: #C4E17F 3px solid;  */
  color: #80CBC4;
  
  
}
 div.darkblue-bg div.upper-header{
 	height:60px;
 	background:#009688;
 }
 @media screen and (max-width: 767px) {
    div.darkblue-bg div.lower-header {
    	color:#fff;
        background-color: #009688;
    }
    div.darkblue-bg .navbar-toggle .icon-bar{
	    color:#fff;
	    background: #fff;
	}
    div.darkblue-bg div.upper-header{
    	display: none;
    }
	div.darkblue-bg span.event-delete-phone{
		width: 10px;
		height:10px;
		position:absolute;
		right: 5px;
		top:5px;
		display:block;
	}
	div.darkblue-bg span.event-delete,span.event-delete i{
		display:none;
	}
	div.darkblue-bg span.event-delete-phone i{
		display:block;
	}
}

