
div.green-bg .nav li:hover a,div.green-bg .nav li.active a{
   /* border-bottom: #C4E17F 3px solid;  */
  color: #81C784;
  
  
}
 div.green-bg div.upper-header{
 	background:#4CAF50;
 }
 @media screen and (max-width: 767px) {
    div.green-bg div.lower-header {
    	color:#fff;
        background-color: #4CAF50;
    }
    div.green-bg .navbar-toggle .icon-bar{
	    color:#fff;
	    background: #fff;
	}
    
}

