body{
    background: #F5F5F5;
}

div.upper-header{
 	height: 50px;
 }
 ul.nav-header{
 	text-align:center;
 }

ul.nav-header li{
	
	display:inline-block;
	height:40px;
	line-height: 30px;
	margin-right:25px;
}
ul.nav-header li a{
	display:block;
	text-decoration:none;
}

@media screen and (max-width: 767px) {
   
	div.darkblue-bg div.sun-lower-header{
		display:none;
	}
    div.darkblue-bg div.upper-header{
    	display: none;
    }
	div.darkblue-bg span.event-delete-phone{
		width: 10px;
		height:10px;
		position:absolute;
		right: 5px;
		top:5px;
		display:block;
	}
	div.darkblue-bg span.event-delete,span.event-delete i{
		display:none;
	}
	div.darkblue-bg span.event-delete-phone i{
		display:block;
	}
}


/* .navbar, .dropdown-menu{
background:#FFFFFF;
border: none;
box-shadow:1px 0px 1px 1px #E0E0E0;

} */
i.fa{
	margin-right:5px;
	
}
.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}

/* 
text in the header css
*/
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color:#9E9E9E;
 
}
a.sun-bar-text{
font-size:15px;
 margin-top:5px;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}
/* 
close text in the header css
*/

.navbar-toggle .icon-bar{
    color: #9E9E9E;
    background: #9E9E9E;
}

div.divide-left{
	width: 50%;
	float:left;
}
div.divide-right{
	width: 50%;
	float: left;

}
span.span-logo{
	width: 150px;
	height:30px;

}
img.img-logo{
	width:100px;
	height:50px;
}
h4.text-logo{
	color: #ffffff !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .05em;
    line-height:30px;
}
span.span-profile{
	width: 150px;
	height:40px;
	float:right;

}
img.img-profile{
	width:33px;
	height:33px;
	border-radius: 100%;
	float:right;
	margin-top:8px;
	border: 2px solid #edf0f0;
}
span.span-profile-expand{
	width: 30px;
	height:30px;
	margin-top:-15px;
	float:right;
	

}
img.img-profile-expand{
	width:35px;
	height:35px;
	border-radius: 100%;
	float:right;
	margin-top:5px;
	border: 2px solid #edf0f0;
}
div.sun-header{
	overflow:hidden;
}
div.sun-content{

}
div.sun-event{
	margin-top:20px;
}

div.services_block {
	
   height: 130px;
   background-color: #fff;
   border-left:10px solid #F5F5F5;
   border-right:10px solid #F5F5F5;
   
}